<!-- <!DOCTYPE html>
<html>
<head>
    {% block Title %}
    <title>Home Page</title>
    {% endblock %}
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">

    <style>
        .nav-link{
            color:  white;
        }
    </style>

</head>
<body>
  
    
    <nav class="navbar navbar-expand-lg bg-dark">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item">
              <a class="nav-link" href="{% url 'Home' %}">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'Movies' %}">Movies</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'TV' %}">TV Series</a>
              </li>
          </ul>
              <div class="topnav-right">    
                    <a class="nav-link" href="{% url 'Login' %}">Login</a>
              </div>  
              <div class="topnav-right">
                    <a class="nav-link" href="{% url 'Sup' %}">Sign Up</a>
              </div>  
      </nav>

      {% block X %}

      <h1></h1>

      {% endblock %}



</body>
</html> -->






<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>My Movies</title>
      <link rel="stylesheet" href= 
"https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"> 

   <link rel="stylesheet" href="../static/css/home.css"> 
</head>
<body>
<div class="navbar">
  <a class="icon" href="#home">ICON</a>
 <a href="#">Movies</a>
  <a href="#">Tv series</a>
    <a href="#">Wachlist</a>
  <div class="dropdown">
        <button class="dropbtn">Login/SignUp
         <i class="fa fa-caret-down"></i>
        </button>
      <div class="dropdown-content">
        <a href="login.html" target="_blank">Login</a>
        <a href="#">SignUp</a>
      </div>
</div> 
   <div class="search"> 
            <form action="#"> 
                <input type="text"
                    placeholder=" Search..."
                    name="search"> 
               <!--  <button> 
                    <i class="fa fa-search">
                    </i> 
                </button>  -->
            </form> 
        </div> 
    </div> 


</body>
</html>