<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>My Movies</title>
      <link rel="stylesheet" href= 
"https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"> 
<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap" rel="stylesheet">
   <link rel="stylesheet" href="../static/css/home.css"> 
</head>
<body>
  
<div class="navbar">
 <!-- <a href="#" class="logo" id="logo">WhatsLi>e</a> -->
 <img src="../static/firstapp/Yess2.png" class="logo">
 <a href="#"><i class="fa fa-film"></i> Movies</a>
  <a href="#"><i class="fa fa-tv"></i> Tv series</a>
    <a href="#"><i class="fa fa-bookmark"></i> Watchlist</a>
  <div class="dropdown">
        <button class="dropbtn"><i class="fa fa-user-plus"></i> Login/SignUp
         <i class="fa fa-caret-down"></i>
        </button>
      <div class="dropdown-content">
        <a href="login.html" target="_blank">Login</a>
        <a href="#">SignUp</a>
      </div>
</div> 
   <div class="search"> 
            <form action="#"> 
                <input type="text"
                    placeholder=" Search..."
                    name="search"> 
              <!--   <button> 
                    <i class="fa fa-search">
                    </i> 
                </button>  -->
            </form> 
        </div> 
    </div> 

<h1 class="movieheading">TRENDING MOVIES</h1>
<div class="main">
  <div class="box"> 
    <div class="box-img">
      <img src="../static/firstapp/indoo.jpg">
    </div>
    <div class="content">
      <h3>Indoo Ki Jawani</h3>
      <p>Releasing on : DEC 11 
        <br>In cinemas near you</p>
    </div>
    <div class="button">
      <li><a href="#"><i class="fa fa-bookmark"></i> Watchlist</a>
      <li><a href="https://www.youtube.com/watch?v=ZwTjZIsgQhg"  target="_blank" class="b1"><i class="fa fa-play"></i> Trailer</a></li>
      <li><a href="#" class="b1"><i class="fa fa-info-circle"></i> Details</a></li>
    </div>  
  </div>
  <div class="box"> 
    <div class="box-img">
      <img src="../static/firstapp/durgamati.png">
    </div>
    <div class="content">
      <h3>Durgamati</h3>
      <p>Releasing on : DEC 11 
        <br>Only on Amazon Prime</p>
    </div>
   <div class="button">
      <li><a href="#"><i class="fa fa-bookmark"></i> Watchlist</a>
      <li><a href="https://www.youtube.com/watch?v=ZwTjZIsgQhg"  target="_blank" class="b1"><i class="fa fa-play"></i> Trailer</a></li>
      <li><a href="#" class="b1"><i class="fa fa-info-circle"></i> Details</a></li>
    </div>  
  </div>
  <div class="box"> 
    <div class="box-img">
      <img src="../static/firstapp/ludo.jpeg">
    </div>
    <div class="content">
      <h3>Ludo</h3>
      <p>Releasing on : NOV 12 
        <br>Only on Netflix</p>
    </div>
    <div class="button">
      <li><a href="#"><i class="fa fa-bookmark"></i> Watchlist</a>
      <li><a href="https://www.youtube.com/watch?v=ZwTjZIsgQhg"  target="_blank" class="b1"><i class="fa fa-play"></i> Trailer</a></li>
      <li><a href="#" class="b1"><i class="fa fa-info-circle"></i> Details</a></li>
    </div> 
  </div>
  <div class="box"> 
    <div class="box-img">
      <img src="../static/firstapp/indoo.jpg">
    </div>
    <div class="content">
      <h3>Vinash-Kaal</h3>
      <p>Releasing on : DEC 11 
        <br>In cinemas near you</p>
    </div>
   <div class="button">
      <li><a href="#"><i class="fa fa-bookmark"></i> Watchlist</a>
      <li><a href="https://www.youtube.com/watch?v=ZwTjZIsgQhg"  target="_blank" class="b1"><i class="fa fa-play"></i> Trailer</a></li>
      <li><a href="#" class="b1"><i class="fa fa-info-circle"></i> Details</a></li>
    </div> 
  </div>
  </div>
</div>


<h1 class="movieheading">TV SHOWS</h1>

</body>
</html>