{% extends 'Homepage.html' %}

<!-- {% block Title%}
<title>Sign Up</title>
{% endblock %} -->

{% block X %}


<!DOCTYPE html>
<html>
<head>
  <title>Movies</title>
  <link rel="stylesheet" type="text/css" href="../static/css/movies.css">
  <link rel="stylesheet" href= 
"https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"> 
<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap" rel="stylesheet">
</head>
<body>
<div class="navbar">
 <img src="../static/firstapp/Yess2.png" class="logo">
 <a href="#"><i class="fa fa-film"></i> Movies</a>
  <a href="#"><i class="fa fa-tv"></i> Tv series</a>
    <a href="#"><i class="fa fa-bookmark"></i> Watchlist</a>
  <!-- <div class="dropdown">
        <button class="dropbtn"><i class="fa fa-user-plus"></i> Login/SignUp
         <i class="fa fa-caret-down"></i>
        </button>
      <div class="dropdown-content">
        <a href="login.html" target="_blank">Login</a>
        <a href="#">SignUp</a>
      </div> -->
<!-- </div>  -->
   <div class="search"> 
            <form action="#"> 
                <input type="text"
                    placeholder=" Search..."
                    name="search">
            </form> 
        </div> 
    </div> 

<div class="button">
  <a href="#" class="b1">
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    Coming Soon
  </a>
  <a href="#" class="b1">
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    In Theaters
  </a>  

  <a href="#" class="b1">
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    Top Rated
  </a>

  <a href="#" class="b1">
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    Most Viewed
  </a>    
</div>


<div class="movie_card" id="blackwidow">
  <div class="info_section">
    <div class="movie_header">
      <img class="locandina" src="https://pbs.twimg.com/media/ETXiQwUXsAIyjGM.jpg">
      <h1>BLACK WIDOW</h1>
      <h4>2021,Scarlett Johansson</h4>
      <span class="minutes">117 min</span>
      <p class="type">Action, Crime, Sci-Fi</p>
    </div>
    <div class="movie_desc">
      <p class="text">
       At birth the Black Widow (aka Natasha Romanova) is given to the KGB, which grooms her to become its ultimate operative. When the U.S.S.R. breaks up, the government tries to kill her as the action moves to present-day New York, where she is a freelance operative.
      </p>
    </div>
    <div class="movie_social">
      <!-- <ul>
 		<li><a href="#"><i class="fa fa-bookmark"></i> Watchlist</a>
      	<li><a href="https://www.youtube.com/watch?v=ZwTjZIsgQhg"  target="_blank" class="b1"><i class="fa fa-play"></i> Trailer</a></li>
      </ul> -->
    </div>
  </div>
    <div class="blur_back bright_back"></div>
</div>



</body>
</html>
{% endblock %}