
    {%block title%}

    {% endblock %}


<link rel="stylesheet" href="../static/css/homepage.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"> 
<!-- <link rel="preconnect" href="https://fonts.gstatic.com"> -->
<link href="https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap" rel="stylesheet">

<link rel="stylesheet" href="../static/css/navbar.css">


<div class="navbar">
 <img src="../static/firstapp/Yess2.png" class="logo">
  <a href="{%url 'Home'  %}"><i class="fa fa-home"></i> Home</a>
 <a href="{% url 'Movies' %}"><i class="fa fa-film"></i> Movies</a>
  <a href="#"><i class="fa fa-tv"></i> Tv series</a>
    <a href="#"><i class="fa fa-bookmark"></i> Watchlist</a>
 
   <div class="search"> 
            <form action="#"> 
                <input type="text"
                    placeholder=" Search..."
                    name="search">
            </form> 
        </div> 
</div>

